@charset "UTF8";
/*///////////////// FOOTER /////////////////*/
footer{
    background-color: #696969;
    width: 100%;
    height: 40px;
    display: block;
}
.footer-meio{
    padding-top: 10px;
    text-align: center;
}
/*///////////////// FOOTER /////////////////*/